.hero {
  height: 100vh;
  position: relative;
  margin-top: -5rem;
  padding-top: 5rem;
}
.hero .underline {
  margin-bottom: 0.5rem;
  margin-left: 0;
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-grey-5);
}
.heroCenter {
  height: 100%;
  display: grid;
  align-items: start;
  justify-content: center;
}
.heroInfo h4 {
  color: var(--clr-grey-5);
}
.heroInfo {
  /* border: 1px solid white; */
  padding: 5rem 8rem;
  margin-top: 5rem;
  border-radius: 50px;
  border: 1px solid var(--clr-bg-1);
  box-shadow: 
    -12px -12px 16px 0 rgba(77, 77, 77, 0.1) inset,
    8px 8px 12px 0 rgba(0,0,0,.25) inset;
}
.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  font-size: 0.875rem;
  margin-top: 1.25rem;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.25),
    -3px -3px 4px 0px rgba(77, 77, 77, 0.1);
  border-radius: 25px;
  transition: all 0.2s ease-out;
  border: 2px solid var(--clr-bg-1);
  color: var(--clr-primary-4);
}
.btn:hover {
  color: var(--clr-primary-8);
  /* transform: scale(1.1); */
}
.btn:focus {
  box-shadow: -3px -3px 4px 0 rgba(77, 77, 77, 0.1) inset,
  2px 2px 3px 0 rgba(0,0,0,.25) inset;
}
.heroIcons {
  list-style: none;
  display: flex;
  justify-items: flex-start;
  width: 15rem;
  margin-top: 2rem;
}
@media screen and (min-width: 992px) {
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 65%;
    right: 0;
    bottom: 0;
  }
}